/**VARIABLES**/
/**MIXINS**/
/**HOME**/
body, td, th {
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  color: white;
  margin: 0; }

h1 {
  font-size: 3em;
  margin: 0;
  /*text-shadow: 0 1px 1px #FAE9D5;*/
  text-align: center;
  margin-bottom: .25em;
  /*font-family: 'Junction', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-weight: normal;
  text-transform: uppercase; }

html {
  /*background-image:url('../images/bg1.png');*/
  background-color: black; }

#my-picture {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 5%;
  width: 70%;
  height: 95%;
  background-image: url("../images/isaac.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible; }
  @media all and (max-width: 22em) {
    #my-picture {
      bottom: 0;
      top: auto;
      width: 100%;
      height: 70%;
      background-position: bottom left; } }
  @media all and (max-width: 36em) and (orientation: landscape) {
    #my-picture {
      width: 50%;
      height: 100%; } }

h3 {
  font-size: 1.125em;
  margin: 0 auto;
  font-style: italic;
  width: 75%;
  text-align: center;
  line-height: 1.5em;
  font-weight: normal;
  color: #cccccc; }

#main {
  margin-left: 40%;
  margin-top: 20%;
  z-index: 1;
  position: relative; }
  @media all and (max-width: 45em) {
    #main {
      margin-top: 10%;
      font-size: .875em; }
      #main h1 {
        font-size: 2em; }
      #main h3 {
        font-size: .925em; }
      #main li {
        display: list-item;
        margin: 1.5em auto; }
        #main li:after {
          content: '';
          margin: 0; } }
      @media all and (max-width: 45em) and (max-width: 30em) {
        #main h3 {
          display: none; } }
    @media all and (max-width: 45em) and (max-width: 36em) and (orientation: landscape) {
      #main {
        width: 50%;
        margin-left: 40%;
        margin-top: .5em; }
        #main h1 {
          font-size: 1.5em; }
        #main ul.menu {
          font-size: .75em;
          margin-top: .5em; } }
    @media all and (max-width: 45em) and (max-width: 22em) and (orientation: portrait) {
      #main {
        width: 100%;
        margin-left: 0; }
        #main h1 {
          font-size: 1.2em; }
        #main li {
          font-size: .875em;
          display: inline-block; }
          #main li:after {
            content: ' | ';
            margin: 0 .5em; }
        #main ul.menu {
          margin-top: .25em; } }

ul.menu {
  list-style-type: none;
  display: block;
  margin: 3em 0 0;
  text-align: center;
  padding: 0; }
  @media all and (max-width: 25em) {
    ul.menu {
      margin: 2em 0 0; } }

li {
  display: inline-block; }

li:after {
  content: '|';
  margin: 0 .5em; }

#main li.last:after {
  content: '';
  margin: 0; }

a {
  text-decoration: none;
  color: #cccccc;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease; }

a:hover {
  color: white; }

#my-picture footer {
  color: #666666;
  white-space: nowrap;
  position: absolute;
  left: 46em;
  bottom: 0; }
  #my-picture footer a {
    color: #999999; }
    #my-picture footer a:hover {
      color: white; }
  @media all and (max-width: 69em) {
    #my-picture footer {
      display: none; } }

/**RESUME**/
#resume {
  font-family: 'Libre Baskerville', serif;
  padding: 1em 2em;
  background-color: white;
  color: black;
  max-width: 60em;
  margin: 0 auto; }
  #resume > p {
    text-align: center;
    font-size: .875em; }
    @media all and (max-width: 22em) {
      #resume > p {
        font-size: .625em; } }
  #resume span.gc-cs-link {
    color: #255b9d;
    text-decoration: none; }
    #resume span.gc-cs-link:hover {
      text-decoration: underline;
      color: #003373; }
  #resume a {
    color: #255b9d;
    font-weight: bold; }
    #resume a:hover {
      text-decoration: underline;
      color: #003373; }
  #resume #skills p {
    font-size: .875em;
    line-height: 1.3em; }
    #resume #skills p a {
      font-weight: normal; }
  #resume ul {
    margin-bottom: 0;
    line-height: 1.25em;
    border-top: 1px solid #cccccc;
    padding-top: .5em; }
  #resume li {
    display: list-item;
    font-size: .875em;
    margin-bottom: .25em; }
    #resume li:after {
      content: ''; }
  #resume h1 {
    padding-top: 1em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif; }
  #resume h2 {
    margin: 1em 0 .5em;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    border-bottom: 1px solid black; }
  #resume #edu p,
  #resume #experience p {
    margin: 0; }
  #resume h4, #resume h5 {
    float: left;
    margin: 0; }
  #resume h4 {
    padding-bottom: .5em; }
  #resume h5 {
    font-style: italic;
    font-weight: normal;
    font-size: 1em; }
  #resume #experience div p {
    float: right;
    font-size: .925em; }
  #resume #experience div div, #resume #experience div ul {
    clear: both; }
  #resume #experience div div {
    margin-bottom: 1em; }
  #resume #experience h1 {
    font-size: 2em; }
  @media all and (max-width: 35em) {
    #resume #experience > div > p {
      display: none; }
    #resume #experience > div > div > p {
      display: block;
      float: left;
      clear: both;
      color: #666666; } }
  @media all and (max-width: 35em) {
    #resume {
      padding: 1em 1em; }
      #resume span.extra {
        display: none; }
      #resume ul {
        padding-left: 1em; } }
  #resume #edu p {
    font-size: .875em; }

/**PORTFOLIO**/
#portfolio {
  max-width: 80em;
  margin: 0 auto;
  text-align: center; }
  #portfolio h1 {
    font-size: 2em;
    text-align: left;
    border-bottom: 1px solid white;
    margin-bottom: .25em; }
    @media all and (max-width: 30em) {
      #portfolio h1 {
        font-size: 1.5em; } }
  #portfolio a {
    opacity: .8; }
    #portfolio a:hover {
      opacity: 1; }
    #portfolio a img {
      width: 16%;
      display: none; }
      @media all and (max-width: 70em) {
        #portfolio a img {
          width: 19%; } }
      @media all and (max-width: 40em) {
        #portfolio a img {
          width: 24%; } }
      @media all and (max-width: 30em) {
        #portfolio a img {
          width: 32.4%; } }
    #portfolio a.first > img {
      display: inherit; }
    #portfolio a img.show {
      display: inherit; }
  #portfolio .contain {
    display: inline; }

#fancybox-thumbs li:after {
  content: ''; }

footer p {
  margin-bottom: .25em; }
