/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-family: Helvetica, Helvetica Neue, Arial;
}

/* == STYLE FOR TWITTER SEARCH ==*/
.wrapper {
    width: 90%;
    margin: 0 5%;
}

h2 {
    height: 100%; 
    margin: 0 auto .5rem;
    color: white; 
    font-size: 6rem;
    text-align: center;
}
html {
    background-color: black;
}
.main-container>form {
    padding-top: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.general {
    display: block;
    margin: 0 auto;
    max-width: 70rem;
    padding: 0 1rem;
}
.search-contain {
    width: 75%;
    float: left;
    height: 3rem;
    position: relative;
}
#search-box,
#bar-code {
    border-radius: .5rem;
    font-size: 2rem;
    padding: .25rem;
    border: none;
    margin: 0;
    width: 70%;
    height:100%;
    float:left;
}
#bar-code {
    width: 28%;
    margin-right: 2%;
}

#submit-button,
.more {
    width: 20%;
    display: inline;
    margin: 0;
    height: 3rem;
    border-radius: .5rem;
    background-color: #3581E2;
    border: 1px solid #485775;
    color: white;
    transition: .5s all;
}
#submit-button {
    float: right;
}
.more {
    width: 60%;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    position: relative;
}
#submit-button:hover {
    background-color: #0961CF;
}
* {
    box-sizing: border-box;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.results-area {

    max-width: 70rem;
    margin: 0 auto;
    margin-top: 2rem;
    border-right: none;
}

.tweet {
    background-color: #FCFCFC;
    border-radius: .25rem;
    margin: 1rem;
    border: 1px solid #d7d7d7;
    position: relative;
    min-height: 16rem;
}
@media all and (min-width: 48rem) {
    .tweet {
        float: left;
        width: 46%;
        margin: 1rem 2%;
    }   
}
.footer-container {
    max-width: 70rem;
    margin: 0 auto;
    clear: both;
}
.more span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 50rem;
    height: 1rem;
    margin: auto;
    text-align: center;
}

.search-contain img {
    position: absolute;
    max-height: 80%;
    right: 1rem;
    top: .25rem;
}
.user {
    float: left;
    width: 10rem;
    background-color: #04084D;
    color: white;
    padding: .5rem;
    border-radius: .25rem 0 0 .25rem;
    margin-right: 1rem;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0;
}
.user img {
    display: block;
    margin: 0 auto;
    border: 1px solid #d7d7d7;
    padding: 4px;
    border-radius: 2px;
    background-color: white;
    margin-top: 1rem;
}
.tweet-foot {
    clear: both;
}
.tweet .text-area {
    margin-left: 11rem;
}
.date-created {
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    color: #d7d7d7;
    font-size: .875rem;
    left: 1rem;
}

.no-geo .date-created {
    bottom: 1rem;
}

.geo {
    position: absolute; 
    z-index: 2;
    bottom: 1rem;
    color: #d7d7d7;
    font-size: .875rem;
    left: 1rem;
}

.more-options,
form .general {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1rem;
    color:white;
}
form .general {
    color: black;
}
.more-options h5:hover {
    cursor: pointer;
    text-decoration: underline;
}

.more-options .extra {
    display: none;
}

.more-options.active h5{    
    margin-bottom: 0;
}

.more-options.active .extra {
    display: inherit;
}

.date-range {
    float: left;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
}
.date-range input {
    width: 48.5%;
    margin: 0;
    padding: 0;
    border: none;
    float: left;
    padding: .25rem;
    border-radius: .25rem;
}
#start-date {
    margin-right: 3%;
}
.location-picker input {
    width: 100%;
    padding: .25rem;
    margin: 0;
    border: none;
    border-radius: .25rem;
}
.results-area h4 {
    font-size: 2rem;
    font-weight: normal;
    color: white;
    font-style:italic;
    margin-top: 3rem;
    text-align: center;
}
.search-history {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #d7d7d7;
}
h5 {
    display: inline-block;
    float: left;
}

div.more-options {
    position: relative;
}

div.searches {
    position: absolute;
    left: 40%;
    top: -2rem;
    background-color: black;
    border: 1px solid #d7d7d7;
    z-index: 2;
    padding: 1rem;
}
div li {
    display: block;
    padding: .25rem;
    font-size: 2rem;
}

div li:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #3581E2;
    border-radius: .25rem;
}

.searches h3 {
    font-size: 1.5rem;
}

#map-canvas{
    height: 100%;
    width: 100%;
    position:absolute;
}
.map-container{
    width: 100%;
    left: 0;
    z-index: 1;
    position: absolute;
    top: 8.875rem;
    bottom: 0;
}